- title "I have no idea what you're looking for..."

%pre{:style => 'background-color: #fff;'}
  :plain
    88     eeeeee 88
    88     8    8 88
    88  88 8    8 88  88
    88ee88 8    8 88ee88
        88 8    8     88
        88 8eeee8     88

%hr

%h2 Error:
%p= request.exceptions.first.message
