- title 'RTFM'

%pre{:style => 'background-color: #fff;'}
  :plain
    88     eeeeee eeee
    88     8    8 8  8
    88  88 8    8 8
    88ee88 8    8 8eeee
        88 8    8 8   8
        88 8eeee8 8eee8

%hr

%h2 Error:
%p= request.exceptions.first.message
