<% title 'Create API' %>

<p id="content-choice">
  Or you can
  <a href="" id="from-url-link" class="content-option-link" rel="#from-url-container">create from a URL</a>
  <a href="" id="manual-content-link" class="content-option-link" rel="#manual-content-container" style="display: none;">enter data manually</a>
</p>

<%= partial :form %>
