- title 'Create API'

%p{:id => 'content-choice'}
  Or you can
  %a{:href => '', :class => 'content-option-link', :id => 'from-url-link', :rel => '#from-url-container'} create from a URL
  %a{:href => '', :class => 'content-option-link', :id => 'manual-content-link', :rel => '#manual-content-container', :style => 'display: none;'} enter data manually

= partial :form