<% title h(@detail.name) %>

<%= partial 'detail', :detail => @detail %>

<p>
  Fetch this data:
  <pre><code>$ curl <%= absolute_url(:detail, @detail, :format => @detail.content_type) %></code></pre>
</p>

<p>
  <%= delete_button(@detail, nil, :class => 'delete-link') %>
</p>
